option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v7.6.0-linux-x64 | head -1`/bin/node /bin/node"
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v7.6.0-linux-x64 | head -1`/bin/npm /bin/npm"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_load_ui_dependencies.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      npm --prefix /var/app/current/client install
  "/opt/elasticbeanstalk/hooks/appdeploy/post/92_build_ui.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      npm --prefix /var/app/current/client run build