form {
  height: auto;
  margin: auto;
  padding-top: 20px;
}

#CreateEventForm-intro {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.CreateEventForm-description textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.CreateEventForm-submitButton {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.CreateEventForm-submitButton Button {
  font-family: 'Gloria Hallelujah', cursive !important;
}
