form {
  height: auto;
  margin: auto;
  padding-top: 30px;
}

#CreateEventForm-intro {
  text-align: center;
  font-family: 'Aclonica';
}

.CreateEventForm-description textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.CreateEventForm-submitButton {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
