.EventBlock-commentsCount {
  cursor: pointer;
}

.EventBlock-hideComments {
  cursor: pointer;
}

.EventBlock .item .icon {
  padding-top: 2.5px !important;
}

.EventBlock-date {
  display: block !important;
}

.EventBlock-toolBar {
  display: flex;
  margin-right: 0px !important;
  align-items: center;
  justify-content: space-between;
}

.EventBlock-header {
  display: flex !important;
  align-items: center !important;
}

.EventBlock-joinLabel {
  display: flex !important;
  margin-left: 10px !important;
}