.EventCreator {
  margin-top: 10px;
}

.EventCreator-block {
  display: flex !important;
  align-items: center !important;
}

.EventCreator-text {
  text-align: right;
  margin-right: 7px !important;
}