.EventList {
  width: 50%;
  height: 100%;
  display: table;
  min-height: 100%;
  overflow:auto;
  margin: auto;
}

.EventList-headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px !important;
}

.EventList-header {
  display: inline-block;
  margin-bottom: 0px !important;
}

.EventList-loader {
  height: 200px;
  box-shadow: none !important;
  border: none !important;
}

.EventList-noResultsFound {
  text-align: center;
  color: #808080 !important;
}
