.EventBlock-commentsCount {
  cursor: pointer;
}

.EventBlock-commentsCount--hidden {
  visibility: hidden;
}

.EventBlock-toggler {
  cursor: pointer;
}

.EventBlock-commentsCount div {
  display: inline-block !important;
}

.EventBlock-hideComments {
  cursor: pointer;
}

.EventBlock .item .icon {
  padding-top: 2.5px !important;
}

.EventBlock-date {
  display: block !important;
}

.EventBlock-toolBar {
  display: flex;
  margin-right: 0px !important;
  align-items: center;
  justify-content: space-between;
}

.EventBlock-header {
  display: flex !important;
  align-items: center !important;
}

.EventBlock-participants {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EventBlock-fullParticipants {
  display: flex;
  justify-content: space-between;
}

.EventBlock-participantList {
  margin-top: 17px;
  flex: 1 1 auto;
}

.EventBlock-participantListOnly {
  margin-top: 10px !important;
  max-height: 150px;
  overflow: hidden;
}

.EventBlock-participantListOnly:hover {
  overflow-y: auto;
}

#EventBlock-imageBlock {
  max-height: initial !important;
}

#EventBlock-image {
  width: 300px !important;
}

.EventBlock-detailsIcon {
  margin-left: 3px !important;
}