.GiphySearch {
  margin-top: 15px;
}

.GiphySearch-loader {
  height: 216px;
}

.GiphySearch-images {
  height: 216px;
  overflow: hidden;
  display: flex;
}

.GiphySearch-images:hover {
  overflow-x: scroll;
}

.GiphySearch-image {
  height: 200px;
}

.GiphySearch-image img {
  max-width: none !important;
}