.Login {
  background-image: url('https://static.pexels.com/photos/325521/pexels-photo-325521.jpeg');
  background-size: cover;
  height: 100vh;
  background-repeat:   no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}

.Login-logo {
  height: 60px;
  margin: auto 10px !important;
}

.Login-slogan {
  font-family: 'Comfortaa', cursive !important;
  display: inline-block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.Login-sloganBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.Login-sloganBlock2 {
  display: flex;
  align-items: center;
}

.Login-tagline {
  font-family: 'Comfortaa', cursive !important;
  font-weight: 800 !important;
}

.Login-header {
  border: 1px #e2e2e2;
  box-shadow: 0 0 5px #888;
  border-radius: 4px;
  background-color: hsla(0,0%,100%, 0.5);
  width: 600px;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 15%;
}

.fb-login-button {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.Login-fbButtonAnchor {
  height: 40px;
  cursor: pointer;
}
