.Login {
  text-align: center;
}

.Login-logo {
  /*animation: Login-logo-spin infinite 20s linear;*/
  height: 100px;
}

.Login-header {
  height: 220px;
  padding: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Login-header h2 {
  color: grey;
  font-style: italic;
  font-family: 'Aclonica';
}

.fb-login-button {
  width: 250px;
  height: auto;
}