.MainApp {
  margin-top: 100px;
}

.Wrapper {
  width: 70%;
  height: 100%;
  display: table;
  min-height: 100%;
  overflow:auto;
  margin: auto;
}

#intro {
  text-align: center;
  font-family: 'Aclonica';
}

#thumbnails {
  vertical-align: text-top;
  text-align: center;
  width: 25%;
  display: flex;
  align-items: center;
}

#thumbnails .image {
  margin: 0 auto;
}

#desc {
  width: 50%;
  word-wrap:break-word;
}

#desc span {
  vertical-align: top;
  font-size: large;
}

.Events-list {
  width: 70%;
  height: auto;
  margin: 0 auto !important;
  clear: both;
}

.Events-list-item {
  display: inline-block;
  clear: both;
  margin: auto;
}

#MainApp-Essential-Info {
  width: 25%;
  word-wrap:break-word;
}
