.MyEvents {
  width: 50%;
  height: 100%;
  display: table;
  min-height: 100%;
  overflow:auto;
  margin: auto;
}

.MyEvents-headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MyEvents-header {
  display: inline-block;
  margin-bottom: 0px !important;
}

.MyEvents-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 30px !important;
}

.MyEvents-loader {
  height: 200px;
  box-shadow: none !important;
  border: none !important;
}
