#NavBar-menu {
  background-color: #FAFAFB;
  padding-left: 20%;
  padding-right: 20%;
  border-top: 4px solid #fbbd08;
}

#NavBar-search {
  margin-left: auto;
  width: 50%;
}

#NavBar-search .text[role=alert] {
  display: none;
}

.NavBar-homeButton {
  font-weight: 600 !important;
}

.NavBar-userDropdown .header {
  margin-bottom: 0px !important;
}

.NavBar-userDropdown .menu {
  margin-top: 5px !important;
}